.audio-container {
    width: 100%;
    position: relative;
    background-color: none;
    color: var(--text);
    margin-bottom: 2em;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.409);
    filter: blur(10px);
    background-blend-mode: multiply;
}

.audio {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: flex-start;
    padding: 2em;
    z-index: 1;
    transition: all .6s;
}

.audio-content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.piece-cover {
    width: 20%;
    height: auto;
    cursor: zoom-in;
    border-radius: 1rem;
    transition: all .6s;
}
.piece-cover:hover {
    box-shadow: 0 0 10px 10px #000000a2;
}

.audio-content h2 {
    margin: 0 0 .4rem 0;
}

.audio.focused {
    flex-direction: column;
}
.audio.focused .piece-cover {
    width: 100%;
    height: auto;
    cursor: zoom-out;
}
.audio.focused .audio-content {
    width: 100%;
}

/* CONTROLS */

.audio-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin: .5em 0 1em 0;
    width: 100%;
}

.play-pause {
    background: none;
    border: none;
    font-size: 1.5rem;
    width: 2ch;
    color: var(--text);
    cursor: pointer;
}

.progress-wrapper {
    position: relative;
    width: 80%;
    margin-top: -2px;
}
.audio.focused .progress-wrapper {
    width: 80%;
}

.progress-bar {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: var(--text);
    height: 8px;
    cursor: pointer;
    border-radius: 200em;
}
.progress-bar::-webkit-slider-runnable-track, .progress-bar::-moz-range-track {
    background: var(--primary);
    height: 8px;
    cursor: pointer;
    border-radius: 200em;
}
.progress-bar::-webkit-slider-thumb {
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: var(--primary);
    cursor: pointer;
}
.progress-bar::-webkit-slider-thumb:hover, .progress-bar::-moz-range-thumb:hover {
    background: var(--primary);
}
.progress-bar::-moz-range-thumb {
    opacity: 0;
    width: 14px;
    height: 14px;
    background: var(--primary);
    cursor: pointer;
}
.progress-bar-filled {
    position: absolute;
    top: 6px;
    left: 0;
    height: 8px;
    background: var(--primary);
    border-radius: 200em;
    z-index: 0;
}

.current-time, .duration {
    font-size: var(--tiny-size);
    white-space: nowrap;
}
.progress-time, .time-wrapper {
    white-space: nowrap;
    width: fit-content;
}

@media (max-width:650px) {
    .audio.focused .progress-wrapper {
        width: 70%;
    }
}
@media (max-width:530px) {
    .progress-wrapper {
        width: 50%;
    }
}
@media (max-width:450px) {
    .progress-wrapper, .audio.focused .progress-wrapper {
        width: 60%;
    }
    .audio {
        flex-direction: column;
    }
    .piece-cover {
        width: 100%;
        height: auto;
    }
    .audio-content {
        width: 100%;
    }
}