/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;   
}
html {
    background-color: var(--background);
    width: 100%;
    font-family: var(--font);
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
:focus {
    outline: none;
}
::selection {
    background-color: var(--text);
    color: var(--background);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    scroll-behavior: smooth;
    color: var(--text);
}

/*BASE ELEMENTS*/

a {
    color: inherit;
    text-decoration: underline;
    transition: var(--transition);
}

a:hover {
    color: var(--primary);
}

a:active {
    color: var(--accent3);
}

ul, ol {
    list-style-position: inside;
}

li li {
    margin-left: 1em;
}


/*SCROLLBAR*/

body::-webkit-scrollbar {
    width: 0.5em;
}
body::-webkit-scrollbar-thumb {
    background-color: transparent;
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body {
    scrollbar-width: none;
}
body {
    overflow: -moz-scrollbars-none;
}

/*NAV*/

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    position: sticky;
    top: 0;
    background-color: var(--background);
    z-index: 10;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.576);
}
.nav-content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-inline: auto;
}
.nav-link {
    font-weight: 700;
    transition: var(--transition);
    color: var(--text);
    text-decoration: none;
    padding: .2em .4em;
    border-radius: .2em;
}
.nav-link.active {
    background-color: var(--text);
    color: var(--background);
}
.nav-link:hover {
    background-color: var(--primary);
    color: var(--text);
}
.nav-utils {
    position: absolute;
    right: 0;
    top: 2px;
}

#works-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.works-nav-links {
    position: absolute;
    width: min-content;
    display: none;
    flex-direction: column;
    gap: .2rem;
    text-align: left;
    left: -16px;
    top: 22px;
    background-color: #000000a1;
    z-index: 1000;
    padding: 1em;
    overflow: hidden;
    border-left: solid 4px var(--primary);
}

.nav-links.dropped .works-nav-links {
    display: flex;
}

/*FOOTER*/

footer {
    width: 100%;
    padding: var(--spacer);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: var(--text);
    margin-top: auto;
}
.footer-content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}
.footer-container:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 1em;
}
#linktree svg {
    fill: var(--text);
    width: 3rem;
    transition: var(--transition);
}
#linktree svg:hover {
    fill: var(--primary);
}
#buy-me-a-coffee {
    font-size: 2.4rem;
}

/*MAIN*/

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
}

section {
    padding: var(--spacer);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background-color: var(--background);
    color: var(--text);
}

@media (max-width:500px) {
    nav {
        font-size: .8rem;
    }
}