.catalogue-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    width: 90%;
    max-width: 1200px;
}
.catalogue-year {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
}

@media (max-width: 900px) {
    .catalogue-content {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px) {
    .catalogue-content {
        grid-template-columns: 1fr;
    }
}