.content-container { 
    width: 90vw;
    max-width: 1200px;
    height: 100%;
    padding: 3em 0;
    background-color: var(--main-clr2);
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 5em;
}
.column {
    width: 100%;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.main-content-title{
    font-size: var(--title-size);
    padding-bottom: .2em;
    margin-bottom: 2em;
    border-bottom: var(--border-3);
    border-width: 4px;
    font-weight: bold;
}
.main-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* INFO */

.main-content-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
}
.main-content-info-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.info-item {
    color: var(--main-clr3);
    font-size: var(--tiny-size);
    font-style: italic;
}
.info-item a {
    color: inherit;
    text-decoration: underline;
    transition: var(--transition);
}
.info-item a:hover {
    color: var(--main-clr1);
}
.info-item a:active {
    font-weight: bolder;
}
.info-album {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.info-album img {
    max-width: 150px;
    width: 30vw;
}

/* AUTO CONTENT */

.main-auto-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5em;
    padding-top: 1.5em;
}
.post-card, .composition-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.post-card-info {
    padding-bottom: 1em;
}
.post-card-info, .composition-card-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.post-card-link, .composition-card-link, .album-title-link {
    color: var(--accent-clr1);
    text-decoration: none;
    width: fit-content;
    position: relative;
    font-size: var(--h4-size);
    font-weight: bold;
}
.composition-card-link {
    font-size: var(--h5-size);
}
.post-card-link::before, .composition-card-link::before, .album-title-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-clr1);
    transition: var(--transition);
}
.post-card-link:hover::before, .composition-card-link:hover::before, .album-title-link:hover::before {
    width: 100%;
}
.post-card-link:active, .composition-card-link:active, .album-title-link:active {
    color: var(--accent-clr2);
}
.post-card-link:active::before, .composition-card-link:active::before, .album-title-link:active::before {
    background-color: var(--accent-clr2);
}
.post-card-date, .composition-card-length {
    color: var(--main-clr3);
    font-size: var(--tiny-size);
    font-style: italic;
}
.composition-card-date {
    color: var(--main-clr3);
    font-style: italic;
    padding-bottom: 1em;
}
.composition-card-excerpt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    width: 100%;
}
.composition-card-excerpt p {
    padding-bottom: 0;
    padding-right: 1em;
}
.album-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    margin: 2em 0;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--shadow-clr);
}
.album-card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 100%;
}
.album-cover {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.album-cover img {
    width: 100%;
}
.album-item a {
    color: var(--main-clr1);
    text-decoration: underline;
    transition: var(--transition);
}
.album-item a:hover {
    color: var(--accent-clr1);
}
.album-item a:active {
    color: var(--accent-clr2)
}

/* ASIDE */

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 9em;
}
.aside-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.aside-content h4 {
    color: var(--main-clr1);
    padding-bottom: .1em;
    border-bottom: var(--border-3);
}
.aside-content-photo img {
    width: 300px;
    border: var(--border-3);
    border-radius: 400em;
}
.aside-content-date {
    font-size: var(--tiny-size);
    color: var(--main-clr3);
    font-style: italic;
}
.aside-content-album {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}
.aside-content-album-cover img {
    width: 70px;
}
.aside-content-title {
    color: var(--accent-clr1);
    font-weight: bold;
    text-decoration: none;
    position: relative;
    font-size: var(--h5-size);
}
.aside-content-title::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-clr1);
    transition: var(--transition);
}
.aside-content-title:hover::before {
    width: 100%;
}
.aside-content-title:active {
    color: var(--accent-clr2);
}
.aside-content-title:active::before {
    background-color: var(--accent-clr2);
}

@media (max-width:930px) {
    .album-card-content {
        flex-direction: column;
        gap: 2em;
    }
    .album-cover {
        width: 100%;
    }
}
@media (max-width:780px) {
    aside {
        display: none;
    }
    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .album-card-content {
        flex-direction: row;
        gap: 10%;
    }
    .album-cover {
        width: 200px;
    }
}
@media (max-width:530px) {
    .album-card-content {
        flex-direction: column;
        gap: 2em;
    }
    .album-cover {
        width: 100%;
    }
}