h1::before {
    content: "";
    position: absolute;
    right: 110%;
    top: 50%;
    height: 4px;
    width: 40px;
    background-color: var(--accent2);
}

h1::after {
    content: "";
    position: absolute;
    left: 110%;
    top: 50%;
    height: 4px;
    width: 40px;
    background-color: var(--accent2);
}

#home-now .section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3em;
}
#home-now img {
    width: 200px;
    border-radius: 1em;
    border: solid 2px var(--accent2);
}

#home-newest img {
    max-width: 170px;
}

#home-newest .section-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3em;
    align-items: stretch;
}

.home-newest-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    background-color: var(--accent1);
    padding: 1.5em;
    width: 200px;
    text-align: center;
    border-radius: 1em;
    border: solid 4px var(--accent4);
    text-decoration: none;
}

.home-newest-card:hover {
    color: var(--light1);
    background-color: var(--accent2);
}

.home-newest-card:active {
    background-color: var(--accent3);
}

.home-newest-card-title {
    font-size: var(--h3-size);
}

.home-newest-title {
    font-size: var(--h4-size);
}

.i-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.i-list-item {
    font-size: var(--h3-size);
    font-weight: bold;
    color: var(--accent2);
    white-space: nowrap;
}

.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
}

.social-link {
    color: var(--accent1);
    font-size: 60px;
    transition: var(--transition);
}

.social-link:hover {
    color: var(--accent2);
}

.social-link:active {
    color: var(--accent3);
}

@media (max-width:550px) {
    #home-now .section-content {
        flex-direction: column;
    }
}