#list {
    min-height: calc(100vh - 350px);
}
.list-content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

#filter-container {
    width: 100%;
}
#filter {
    width: 300px;
    margin: 0 auto;
    background-color: var(--background);
    border: none;
    outline: none;
    font: var(--font);
    color: var(--text);
    animation: fadeUp .6s ease forwards;
    opacity: 0;
    transform: translateY(10px);
}

.item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4rem;
    overflow-x: scroll;
    width: 100%;
    padding: 1rem 0;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    animation: fadeUp .6s ease forwards;
    opacity: 0;
    transform: translateY(10px);
}
.item-list::-webkit-scrollbar {
    width: 0.5em;
}
.item-list::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.item-list::-webkit-scrollbar-track {
    background-color: transparent;
}
.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 300px;
    text-align: center;
    text-decoration: none;
    transition: var(--transition);
    margin: 0 auto;
}
.item-list img {
    width: 300px;
    border-radius: 1rem;
    transition: var(--transition);
}
.item-title-link {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
    transition: var(--transition);
    padding: .4rem 0;
    display: block;
}
.item-date, .item-length {
    font-size: var(--tiny-size);
    color: var(--primary);
}
.item-tracks, .item-orchestration {
    padding: .4rem 0;
    font-style: italic;
    font-size: var(--tiny-size);
    color: var(--text);
}
.item-card:hover {
    transform: translateY(-10px);
}
.item-card:hover img {
    box-shadow: 0px 20px 60px rgba(255, 255, 255, 0.3);
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}