.single-content {
    width: 90%;
    max-width: 1200px;
    min-height: calc(100vh - 350px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.single-content h1 {
    margin: 1rem 0;
}
.single-content p {
    margin-top: 1rem;
}

.album-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
}
.album-content-left {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.album-content-left img {
    width: 300px;
    border-radius: 1rem;
}
.album-links {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

@media (max-width:600px) {
    .album-content {
        flex-direction: column;
        align-items: center;
    }
    .album-content-left {
        width: 100%;
    }
    .album-content-left img {
        width: 100%;
    }
}