<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
        <link rel="manifest" href="/fav/site.webmanifest">

        <link rel="stylesheet" href="/css/root.css">
        <link rel="stylesheet" href="/css/base.css">
        {{block "styles" .}}{{end}}

        <script src="https://kit.fontawesome.com/9ab7bfa7fc.js" crossorigin="anonymous"></script>
        <script data-goatcounter="https://pgersl.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        <script src="/js/nav.js" defer></script>
        {{block "scripts" .}}{{end}}

        {{block "title" .}}{{end}}
    </head>
    <body>
        {{block "header" .}}{{end}}
        <nav>
            <div class="nav-content">
                <div class="nav-links">
                    <div class="main-nav-links">
                        <a href="/" class="nav-link">Home</a>
                        <div id="works-link">
                            <a class="nav-link">Works</a>
                            <div class="works-nav-links">
                                {{range .Site.Menus.works}}
                                    <a href="{{.PageRef}}" class="nav-link">{{.Name}}</a>
                                {{end}}
                            </div>
                        </div>
                        <a href="/discography" class="nav-link">Discography</a>
                        <a href="/contact" class="nav-link">Contact</a>
                    </div>
                    <div class="sites-nav-links">
                        {{range .Site.Menus.sites}}
                            <a href="{{.URL}}" class="nav-link">{{.Name}} <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        {{end}}
                    </div>
                </div>
                <!-- <div class="nav-utils">
                    {{if .IsTranslated}}
                        {{range .Translations}}
                            <a href="{{.Permalink}}" class="utils-link"><img src="/media/img/base/{{.Language.Lang}}.png"></a>
                        {{end}}
                    {{end}}
                </div> -->
            </div>
        </nav>
        <main>
            {{block "main" .}}{{end}}
        </main>
        <footer>
            <div class="footer-content">
                <div class="footer-container">
                    <strong>Petr Geršl</strong>
                    <a class="footer-link" href="mailto:pgersl05@gmail.com">pgersl05@gmail.com</a>
                    <a class="footer-link" href="tel:+420731347915">+420 731 347 915</a>
                    <div class="footer-item">Brno, CZE</div>
                </div>
                <div class="footer-container">
                    <strong>Explore more:</strong>
                    {{range .Site.Menus.sites}}
                        <a href="{{.URL}}" class="footer-link">{{.Name}} <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    {{end}}
                </div>
                <div class="footer-container">
                    <strong>Find me:</strong>
                    <a class="footer-link" href="https://music.apple.com/us/artist/petr-ger%C5%A1l/1707910920" target="_blank">Apple Music</a>
                    <a class="footer-link" href="https://open.spotify.com/artist/3jeeP8iPfuNDAXRqASrNV2?si=mhlbmzvPS7KAldVtFovbSg" target="_blank">Spotify</a>
                    <a class="footer-link" href="https://www.youtube.com/@petrgersl" target="_blank">Youtube</a>
                    <a class="footer-link" href="https://pgersl.bandcamp.com/" target="_blank">Bandcamp</a>
                </div>
            </div>
        </footer>
    </body>
</html>