<!DOCTYPE html>
<html lang="en">
<head>
    {{partial "head.html" .}}
    <link rel="stylesheet" href="/css/home.css">    
</head>
<body>
    <div class="home-content">
        <div class="home-header">
            <div class="home-header-content">
                <div class="home-header-title">
                    Petr Geršl
                </div>
                <div class="home-header-description">
                    A site for the music I create.
                </div>
            </div>
        </div>
        <div class="home-nav">
            <div class="home-nav-content">
                {{range .Site.Menus.main}}
                    <div class="home-nav-link-container">
                        <a class="home-nav-link" href="{{.URL}}">
                            {{.Name}}
                        </a>
                        <div class="home-nav-link-content">
                            {{.Identifier}}
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
        <div class="home-news">

        </div>
        <footer>
            {{partial "footer.html" .}}
        </footer>
    </div>
</body>
</html>