{{define "styles"}}<link rel="stylesheet" href="/css/list.css">{{end}}
{{define "scripts"}}<script src="/js/list.js" defer></script>{{end}}

{{define "main"}}
    <section id="list">
        <div class="list-content">
            <div id="filter-container">
                <input id="filter" placeholder="{{if strings.HasPrefix .RelPermalink "/cs/"}}Hledat{{else}}Search{{end}}...">
            </div>
            <div class="item-list">
                {{if eq .Params.list "albums"}}
                    {{range where .Site.Pages ".Params.type" "==" "album" }}
                        {{partial "item-card.html" .}}
                    {{end}}
                {{end}}
                {{if eq .Params.list "compositions"}}
                    {{$ensemble := .Params.ensemble}}
                    {{range where .Site.RegularPages ".Params.ensemble" "==" $ensemble}}
                        {{partial "item-card.html" .}}
                    {{end}}
                {{end}}
            </div>
        </div>
    </section>
{{end}}