{{define "styles"}}
    <link rel="stylesheet" href="/css/audio.css">
    <link rel="stylesheet" href="/css/single.css">
{{end}}
{{define "scripts"}}<script src="/js/audio.js" defer></script>{{end}}

{{define "main"}}
    <section id="single">
        <div class="single-content">
            {{if eq .Params.type "album"}}
                <div class="album-content">
                    <div class="album-content-left">
                        <img src="{{.Params.cover}}">
                        <div class="album-links">
                            {{with .Params.spotify}}<a href="{{.}}" target="_blank"><i class="fa-brands fa-spotify"></i></a>{{end}}
                            {{with .Params.apple}}<a href="{{.}}" target="_blank"><i class="fa-brands fa-apple"></i></a>{{end}}
                            {{with .Params.yt}}<a href="{{.}}" target="_blank"><i class="fa-brands fa-youtube"></i></a>{{end}}
                            {{with .Params.bandcamp}}<a href="{{.}}" target="_blank"><i class="fa-brands fa-bandcamp"></i></a>{{end}} 
                        </div>
                    </div>
                    <div class="album-content-right">
                        {{.Content}}
                    </div>
                </div>
            {{else}}
                {{.Content}}
            {{end}}
        </div>
    </section>
{{end}}