{{if eq .Params.list "posts"}}
    {{range where .Site.Pages ".Params.type" "==" "post"}}
        <div class="post-card">
            <div class="post-card-info">
                <a class="post-card-link" href="{{.RelPermalink}}">{{.Title}}</a>
                <div class="post-card-date">{{.Date | time.Format "02. 01. 2006"}}</div>
            </div>
            <div class="post-card-show">{{.Params.show}}</div>
        </div>
    {{end}}
{{end}}
{{if eq .Params.list "compositions"}}
    <h3>Orchestral</h3>
    {{range where .Site.Pages ".Params.ensemble" "==" "orchestral"}}
        {{partial "composition-card.html" .}}
    {{end}}
    <h3>Concertante</h3>
    {{range where .Site.Pages ".Params.ensemble" "==" "concertante"}}
        {{partial "composition-card.html" .}}
    {{end}}
    <h3>Piano</h3>
    {{range where .Site.Pages ".Params.ensemble" "==" "piano"}}
        {{partial "composition-card.html" .}}
    {{end}}
    <h3>Chamber/Ensemble</h3>
    {{range where .Site.Pages ".Params.ensemble" "==" "ensemble"}}
        {{partial "composition-card.html" .}}
    {{end}}
{{end}}