<div class="composition-card filter-item">
    <div class="composition-card-info">
        <a class="composition-card-link filter-item-title" href="{{.RelPermalink}}">{{.Title}}</a>
        <div class="composition-card-length"><i class="fa-regular fa-clock"></i> {{.Params.length}}</div>
    </div>
    <div class="composition-card-date">{{.Params.start}}{{with .Params.end}} - {{.}}{{end}}</div>
    <div class="composition-card-excerpt">
        <p>Excerpt:</p>
        <div class="audio">
            <audio src="{{.Params.excerpt}}"></audio>
            <button class="play-pause-btn">
                <i class="play-pause-icon fa-solid fa-play"></i>
            </button>
            <button class="volume-btn">
                <i class="volume-icon fa-solid fa-volume-high"></i>
            </button>
            <div class="progress-bar-container">
                <div class="progress-bar"></div>
                <div class="progress-bar-click"></div>
            </div>
            <div class="progress-time">
                <span class="current-time">0:00</span>/<span class="length-time">0:00</span>
            </div>
        </div>
    </div>
    <div class="composition-card-show">{{.Params.show}}</div>
</div>