<div class="footer-content">
    <div class="footer-column-1">
        <div class="footer-title">
            m.
        </div>
        <div class="footer-description">
            <p>A site for the music I create.</p>
            <p>by <a class="footer-link" href="https://pgersl.xyz" target="_blank">Petr Geršl</a></p>
        </div>
    </div>
    <div class="footer-column-2">
        <div class="footer-links">
            <a class="footer-link" href="https://audio.com/petr-gersl" target="_blank">audio</a>
            <a class="footer-link" href="https://pgersl.bandcamp.com/" target="_blank">bandcamp</a>
            <a class="footer-link" href="https://www.youtube.com/@petrgersl" target="_blank">youtube</a>
            <a class="footer-link" href="https://patreon.com/user?u=98919388" target="_blank">patreon</a>
            <a class="footer-link" href="https://paypal.me/petrgersl" target="_blank">paypal</a>
        </div>
    </div>
</div>